
<html>
  <head>
    <style>
      .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
    </style>
  </head>
  

<body>
 
<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-2 col-lg-2 col-xl-2">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
     
         

      

        
      

          <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="/admin"
            role="button">
            <i class="fab fa-facebook-f me-2"></i>Manage data
          </a>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>
          <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="/pie-chart"
            role="button">
            <i class="fab fa-twitter me-2"></i>View reports</a>

      </div>
    </div>
  </div>
</section>



</div>
</body>
</html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>